.page {
  font-family: Inter, Montserrat, sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  background-image: url("/images/main-bg.png");
  background-repeat: no-repeat;
  background-size: 360px;
  background-position: center 420px;
  overflow: hidden;
}

.webp .page,
.avif .page {
  background-image: url("/images/main-bg.webp");
}

@media (min-resolution: 2dppx) {
  .page {
    background-image: url("/images/main-bg@2x.png");
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .page {
    background-image: url("/images/main-bg-768.png");
    background-size: 768px;
    background-position: center 790px;
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg-768.webp");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page {
    background-image: url("/images/main-bg-768@2x.png");
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg-768@2x.webp");
  }
}

@media screen and (min-width: 1024px) {
  .page {
    background-image: url("/images/main-bg-1024.png");
    background-size: 1024px;
    background-position: center 610px;
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg-1024.webp");
  }
}

@media screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .page {
    background-image: url("/images/main-bg-1024@2x.png");
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg-1024@2x.webp");
  }
}

@media screen and (min-width: 1376px) {
  .page {
    background-image: url("/images/main-bg-1920.png");
    background-size: 1920px;
    background-position: center top;
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg-1920.webp");
  }
}

@media screen and (min-width: 1376px) and (min-resolution: 2dppx) {
  .page {
    background-image: url("/images/main-bg-1920@2x.png");
  }

  .webp .page,
  .avif .page {
    background-image: url("/images/main-bg-1920@2x.webp");
  }
}

.container {
  width: 360px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 42px;
  }
}

@media screen and (min-width: 1376px) {
  .container {
    width: 1290px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
