@import "./calc.scss";

.big {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  @include media-breakpoint-down("lg") {
    font-size: 14px;
    line-height: 19px;
  }
}

.default-bold {
  font-size: 14px;
  font-size: 700;
  line-height: 20px;
  color: white;

  @include media-breakpoint-down("lg") {
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
  }
}

.invisible {
  visibility: hidden;
}
